@font-face {
    font-family: 'Monda';
    src: url('./fonts/FredokaOne-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

*, *::before, *::after{
    box-sizing: border-box;
}

html, 
body,
#content{
    height: 100%;
    margin: 0;
}

:root{
    --card-color:rgb(22, 21, 21, 0.9);
    --top-height: 190px;
    --card-radius: 5px;
}


.top-wrap{
    position: sticky;
    top: 0;
    z-index: 1;
    height: var(--top-height);
    background-image: url('./img/joshua-kantarges-wO4CyWnIzz4-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.bg-image{
    position: fixed;
    left: 0;
    right: 0;
    min-height: 100%;
    background-image: url('./img/alexander-startsev-ndNw_6QGR_c-unsplash.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    /**Get rid of border from blur**/
    transform: scale(1.03);
}

.header,
.tabs{
    background-color: rgb(22, 21, 21, 0.7);
}

.header{
    padding: 10px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 150px;
}

.header > img{
    height: 50px;
    margin-left: 10px;
}

.h-title{
    font-family: 'Monda', sans-serif;
    font-size: 3rem;
    margin: 0 60px 0 0 ;
}

.tabs{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.tabs div{
    font-size: 1.2rem;
    color: white;
    display: flex;
    align-items: center;
    margin: 0 40px;
    height: 30px;
    transition-duration: .2s;
}

.tabs div:hover{
    cursor: pointer;
    padding-bottom: 7px;
    text-decoration: underline;    
    transition-duration: .2s;
}

.active-tab{
    text-decoration: underline;
    padding-bottom: 7px;
}

.tabs, 
.info{
    font-family: 'Roboto', sans-serif;
}

.info{
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    color: white;
}   

.testimonial,
.hours, 
.location{
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    width: 500px;
}

.testimonial{ 
    padding: 20px;
    margin-top: 20px;
}

.testimonial p:first-child{
    font-style: italic;
}

.testimonial p:last-child{
    font-weight: bold;
}

.hours{
    display: flex;
    flex-direction: column;
}

.hours p,
.location > p:first-child{
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid rgb(230, 230, 230, 0.4);
}

ul{
    list-style: none;
    padding: 0 40px;
    align-self: center;
}

li{
    margin: 10px 0;
}

.location{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.location > p:nth-child(2),
.location img{
    align-self: center;
}

.location img{
    width: 250px;
}

.menu{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 20px 0px;
   gap: 40px;
}
 
.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    border-radius: var(--card-radius);
    background-color: var(--card-color);
    padding: 10px;
    gap: 10px;
}

.item-info > p:first-child{
    font-weight: bold;
}

.item-info > p:nth-child(3){
    width: 250px; 
}

/**So images can appear to have a gradient border**/
.menu-img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background: linear-gradient(to right, yellow, red);
}

.menu-item img{
    height: 150px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--top-height));
}

.contact-info{
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    font-size: 1.6rem;
    padding: 20px;
}



